.container{
    width: 95%;
    margin: 0 auto;
}   

.color-accent{
    color: limegreen;
}
.card_header{
    background-color: hsl(261, 100%, 6%);
}

.color_transparent{
    background-color: transparent !important;
}

table{width: 100%;}